body {
  background: rebeccapurple;
}

h1 {
  color: #bada55;
}

h2 {
  color: pink;
}

h4 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding:  0 3px;
}

p {
  color: white;
}

.movie-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 5px;
}

.movie-card {
  flex-basis: 30%;
  text-align: center;
  margin: 5px;
  position:relative;
  -webkit-box-shadow: 2px 7px 20px -1px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 2px 7px 20px -1px rgba(0, 0, 0, 0.61);
  box-shadow: 2px 7px 20px -1px rgba(0, 0, 0, 0.61);
}

// .movie-card {
//   float: left;
// }
