$badass: #bada55;

@mixin button($color) {
  background-color: $color;
  display:inline-block;
  padding: 0.5em 0.9em;
  position: absolute;
  top: 1.5%;
  left: 75%;
  border:0.16em solid rgba(255, 255, 255, 1);
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto', sans-serif;
  font-weight:300;
  color:#FFFFFF;
  @include text-shadow(0.04em);
  text-align:center;
  transition: all 0.2s;
}

@mixin text-shadow($ems) {
  text-shadow: 0 $ems $ems rgba(0, 0, 0, 0.85);
}

body {
  background: rebeccapurple;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
  color: $badass;
}

h2 {
  color: pink;
}

h4 {
  @include text-shadow(0.13em);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  margin-left: 18px;
}

p {
  color: white;
}

nav {
  a {
    position: absolute;
    top: 2.5%;
    left: 83%;
    color: white;
    font-size: 1.2rem;
  }
}

.movie-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 5px;
}

.movie-card {
  flex-basis: 30%;
  text-align: center;
  margin: 10px 0;
  padding-bottom: 12px;
  position:relative;
  -webkit-box-shadow: 2px 7px 20px -1px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 2px 7px 20px -1px rgba(0, 0, 0, 0.61);
  box-shadow: 2px 7px 20px -1px rgba(0, 0, 0, 0.61);
}

a.button {
  @include button($badass);
  cursor: pointer;

  &.button:hover {
    border-color: rebeccapurple;
  }
}

.movie-title {
  display: block;

  &--narrow {
    display: none;
  }
}

.formError {
  background: rgba(255, 0, 0, .3)
}

@media screen and (max-width: 1200px) {
  .movie-title {
    display: none;

    &--narrow {
      display: block;
    }
  }
}
